/* assets/Layout.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  .rounded-md {
    border-radius: 4px;
  }
  .grey-darken-3 {
    background-color: #424242;
  }
  .grey-darken-2 {
    background-color: #616161;
  }
  .grey-darken-1 {
    background-color: #757575;
  }
  .grey {
    background-color: #9e9e9e;
  }
  .grey-lighten-1 {
    background-color: #bdbdbd;
  }
  .grey-lighten-2 {
    background-color: #e0e0e0;
  }
  .layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .system-bar, .app-bar {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navigation-drawer {
    width: 72px;
    background-color: #616161;
    height: 100%;
    position: fixed;
    top: 48px;
    left: 0;
  }
  .navigation-drawer.right {
    left: auto;
    right: 0;
    width: 150px;
    background-color: #bdbdbd;
  }
  .navigation-drawer.wide {
    width: 150px;
    background-color: #757575;
    left: 72px;
  }
  .app-bar.bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 222px;
    margin-right: 150px;
  }
  
  /* Responsive adjustments */
  @media (max-width: 1200px) {
    .navigation-drawer.wide {
      left: 72px;
      width: 100px;
    }
    .main {
      margin-left: 172px;
    }
  }
  
  @media (max-width: 992px) {
    .navigation-drawer {
      width: 60px;
    }
    .navigation-drawer.wide {
      left: 60px;
      width: 100px;
    }
    .main {
      margin-left: 160px;
    }
  }
  
  @media (max-width: 768px) {
    .navigation-drawer {
      width: 50px;
    }
    .navigation-drawer.wide {
      left: 50px;
      width: 80px;
    }
    .main {
      margin-left: 130px;
    }
  }
  
  @media (max-width: 576px) {
    .navigation-drawer, .navigation-drawer.wide, .navigation-drawer.right {
      width: 100%;
      height: auto;
      position: relative;
    }
    .main {
      margin: 0;
      margin-bottom: 48px; /* Ensure space for the footer */
    }
    .app-bar.bottom {
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  }